<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JD</title>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="content1" id="content1">

        <div class="con2">
            <ul class="uls1">
                <p class="uls1p2">JD</p>
            </ul>

            <ul class="uls2" id="box">
                    <p>玩具</p>
                <p class="weight">
                    <i id="weight">￥2000</i>
                </p>
                <button class="min" @click="sub(1,2000)">-</button>
                <input ref="add1" type="text" class="txt" v-model="add1">
                <button class="add" @click="add(1,2000)">+</button>
                <p class="xiaoji">
                    <i id="xiaoji1">￥{{add2}}</i>
                </p>
            </ul>
            <ul class="uls2" id="box2">
                    <p>零食</p>
                <p class="weight">
                    <i id="weight">￥3000</i>
                </p>
                <button class="min" @click="numsub(1,3000)">-</button>
                <input ref="num1" type="text" class="txt" v-model="num1">
                <button class="add" @click="numadd(1,3000)">+</button>
                <p class="xiaoji">
                    <i id="xiaoji1">￥{{num2}}</i>
                </p>

            </ul>
            <div class="uls4">
                <div class="uls4R">
                    <div class="uls4a">
                        <div class="uls4a1">
                            <div class="aaa">
                                <p>总价：<span>￥</span><i>{{num3}}</i></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/index.js"></script>
<script type="text/javascript">
</script>